/* applies the same css property to all the relative elements */
p{
    color: green;
}

h1{
    font-size: 20px;
    color: #f0e239 ;

}

.container{
    background-color: aqua  ;
}

/* target the child element of it's parent element */
.container p{
    color: red;
}
/* id selector */
#college{
    background-color: green;
    display: flex ;
    flex-wrap: wrap;
    /* padding: 4px; */
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* flex-direction:column-reverse; */
}

#college p{
    color: white;

}


/* css for image element */
img{
    
    height: 100px;
    width: 200px;
    /* margin: 10px; */
    margin-top: 10px ;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 30px;
    
}





